body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Make the main content scrollable */
#root > div {
  flex: 1;
  overflow-y: auto;
}

.circular-button-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-buttons {
  position: relative;
  width: 200px;
  height: 200px;
}

.circular-buttons button {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  outline: none;
  background-color: #3f51b5;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-buttons button:nth-child(1) {
  top: 0;
  left: 25%;
}

.circular-buttons button:nth-child(2) {
  top: 25%;
  right: 0;
}

.circular-buttons button:nth-child(3) {
  bottom: 0;
  left: 25%;
}

.circular-buttons button:nth-child(4) {
  top: 25%;
  left: 0;
}
